@model IEnumerable<TmsApp.Models.RoutePath>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>*@

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">


<header class="header">

    <section class="hnav">
        <div class="logo">
            <h3><i class="fa-solid fa-car"></i>TMS</h3>
        </div>
        <a class="btn btn-light" asp-controller="User" asp-action="Login">Logout</a>

    </section>

</header>


<div class="side-bar">

    <div class="profile">
        <img src="/images/admin.png" class="image" alt="">
        <h3 class="name">Admin</h3>
    </div>

    <nav class="navb-ar">
        <ul>
            <li><a asp-controller="Dashboard" asp-action="Home"><i class="fas fa-home"></i><span>Home</span></a></li>
            <li><a asp-controller="Dashboard" asp-action="Addnew"><i class="fa-solid fa-plus"></i><span>Add new</span></a></li>
            <li><a asp-controller="Dashboard" asp-action="Modify"><i class="fa-solid fa-pen-to-square"></i><span>Modify</span></a></li>
            <li><a asp-controller="Dashboard" asp-action="Status"><i class="fa-solid fa-check"></i><span>Status</span></a></li>
            <li><a asp-controller="Allocation" asp-action="Index"><i class="fa-sharp fa-solid fa-tablet"></i><span>Allocate</span></a></li>
        </ul>
    </nav>

</div>
<section class="tabsec">
    <h2>Routes:</h2>
<table class="table" border="1">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RouteNumber)
                </th>
            
            <th>
                @Html.DisplayNameFor(model => model.VehicleNumber)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pickup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleStop)
                </th>
                
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RouteNumber)
                    </td>
            
            <td>
                TN 01 AB @Html.DisplayFor(modelItem => item.VehicleNumber)
            </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pickup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleStop)
                    </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.RouteNumber">Edit</a> |
                <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.RouteNumber">Details</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.RouteNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</section>